<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="defaultConnection" connectionString="Data Source=FCTEST\SQLEXPRESS;Initial Catalog=notification;Persist Security Info=True;User ID=sa;Password=GBGBcmrf321" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>